<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Adopt a Puppy</title>
  </head>
  <body>
    <h1>And Who's This Little Guy?</h1>
    <form method="POST" action='/display_puppy'>
        <p><input type="text" name="name" value="Buster"> </p>
        <p><input type="text" name="breed" value="golden lab"> </p>
        <p><input type="text" name="age" value="10 months"> </p>
        <input id="submit" type="submit" name="submit">
    </form>
  
  </body>
</html>