<html>
  
  <body>
    <h2>Create Pupper</h2>
    <form action="/" method="POST">
      <p>Name: <input name="name"/></p>
      <p>Breed: <input name="breed"></p>
      <p>Age: <input name="age"></p>
      <input type="submit" id="submit"/>
    </form>
    
  </body>
  
  
</html>