<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create Puppy</title>
  </head>
  <body>
    <h1>Create a Puppy:</h1>
    <form action="/displaypuppy" method="post">
      <p><input type="text" name="name" placeholder="Name"></p>
      <p><input type="text" name="breed" placeholder="Breed"></p>
      <p><input type="text" name="age" placeholder="Age"></p>
      <p><input id = "submit" type="submit"></p>
    </form>
  </body>
</html>
